p {
  color: black;
}  
h1,h3 {
  color: dark grey;
}
html {
  background-color: D3D3D3;
  border: 8px solid #204156;
  display: block;
  margin: auto;
  width: 70%;
  text-align: justify;
}
div {
  width: 80%;
}

