p {
  color: black;
}  
h1,h3 {
  color: dark grey;
}
html {
  border: 3px solid #204156;
  display: block;
  margin: auto;
  width: 70%;
  text-align: justify;
}
div {
  width: 80%;
  background-color: 5F9EA0;
}

